body {
  text-align: center;
  background: linear-gradient(to left, #9b6dff, #a6c1ed);
  font-family: 'Source Sans Pro', sans-serif;
}

#logo { 
	position: relative;
  bottom: 30%;
	float: left;
	width: 60px;
	height: 40px;
}

#loginForm {
  background: white;
  position: relative;
  top: 10vw;

  width: 30%;
  height: 20%;

  border: 2px solid white;
  border-radius: 12px;

  font-size: 25px;

  padding-bottom: 66px;
}

#loginSubmit {
  width: 55%;

  border: none;
  padding-top: 10px;
  padding-bottom: 10px;

  border-radius: 12px;
}
