body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  display: inline-block;
}

h2 {
  display: inline-block;
}

button {
  display: inline-block;
}

#logo { 
	position: relative;
  bottom: 30%;
	float: left;
	width: 60px;
	height: 40px;
}